html, body {
	position: relative;
	width: 100%;
  height: 100%;
  background-color: #222;
}

body {
	color: #ccc;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.25em;
}

main {
  width: 800px;
  margin: auto;
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  height: 50vh;
  box-shadow: 0 0 10em #333;
  padding: 1em;
}

room {
  display: block;
  flex: 1;
  overflow: hidden;
}

input {
  width: 100%;
  background-color: #444;
  border: 1px #555 solid;
  color: #eee;
  font-size: 1.25em;
  padding: .25em;
}